<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- 输出到控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %date{HH:mm:ss.SSS} %-5level [%t] %C{0}.%M:%L - %msg%n
            </pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
